@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}


@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin border-radius($radius) {
  border-radius: ($radius);
  margin: 0;
}

.box {
  @include border-radius(10px);
  padding: 0;
}

$primary: #323232, #AFAFAF, #FFFFFF;
$secondary: #000000, #E1E1E1, #FAFAFA;
