$tablet-width: 768px;
$desktop-width: 1280px;
$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;
$secondary-darkblack: #000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;
$regular-font : "Avenir Next Regular";
$demi-font : "Avenir Next Demi";
$bold-font : "Avenir Next Bold";
$pro-demi : "AvenirNextLTPro-Demi";