$tablet-width: 768px;
$desktop-width: 1280px;
$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;
$secondary-darkblack: #000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;
