@use "./partials/variables" as *;
@use "./partials/mixins" as *;





  .nav {
    background-color: $primary-black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width:100vw;
    height: 3.125em;
    margin:1rem;
    &__logo{
      padding: 0.625rem;
      flex-direction: column;
      justify-content: center;
    }

  &__firstbox {
    line-height: 1.75rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
  }

}

  .button {
    background-color: $secondary-darkblack;
    color: $primary-white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
    &:hover {
      background-color: darken($secondary-mercury, 10%);
    }
}


.div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  border-radius:0% ;
  width:auto;
  height:auto;
  margin:auto;
}


.flowers {
  display: flex;
	flex-direction: column;
	margin: 1.25rem;
	justify-content: center;
	border-radius: 5px;
	@include tablet {
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-evenly;
		// align-content: space-evenly;
		width: 30vw;
	}
	@include desktop {
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-evenly;
		// align-content: space-evenly;
		width: 30vw;
	}
	&__img {
		text-align: center;
		padding: 10px 0;
		& img {
			width: 100px;
			height: 100px;
		}
		@include tablet {
		}

		@include desktop {
		}
	}
}

.firstbox {
  margin-top: -40px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 4em;  
  background-size: cover;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:last baseline;
}
  text.flexbox {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: white;
  }

.box {
  display: flex;
	flex-direction: column;
	margin: 1.25rem;
	justify-content: center;
	border-radius: 5px;
	@include tablet {
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-evenly;
		// align-content: space-evenly;
		width: 30vw;
	}
	@include desktop {
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-evenly;
		// align-content: space-evenly;
		width: 30vw;
	} 
}

h1 {
  color: $primary-black;
}

.box{
  color: black;
}

h3 {
  color: black;
}


.bees p {
 color: #000000;
}

p, 
ul {
  border: 2px;
  padding: .5em;
}

.photogallery {
  display: flex;
	flex-direction: column;
	margin: 1.25rem;
	justify-content: center;
	border-radius: 5px;
	@include tablet {
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-evenly;
		// align-content: space-evenly;
		width: 30vw;
	}
	@include desktop {
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-evenly;
		// align-content: space-evenly;
		width: 30vw;
	}
	&__img {
  text-align: center;
		padding: 10px 0;
		& img {
			width: 100px;
			height: 100px;
      display: flex;
      flex-wrap: wrap;
      border-top: 100px;
      border-bottom: 100px;
		}
		@include tablet {
		}

		@include desktop {
		}
	}
}

.footer{
  display: flex;
	flex-direction: column;
	margin: 1.25rem;
	justify-content: center;
	border-radius: 5px;
	@include tablet {
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-evenly;
		// align-content: space-evenly;
		width: 30vw;
	}
	@include desktop {
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-evenly;
		// align-content: space-evenly;
		width: 30vw;
	} 
}
