.box {
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
}
.header .nav {
  background-color: #323232;
}

.logo {
  color: #AFAFAF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding-left: 2cm;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .logo {
    grid-template-areas: "logo menu menu menu";
    justify-items: auto;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    grid-template-areas: "logo menu menu menu . . . ";
    justify-items: auto;
  }
}

.nav {
  background-color: #323232;
  color: #FAFAFA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .nav {
    width: auto;
  }
}

.hero-banner {
  display: flex;
  background-image: url("../assets/images/hero-bio.jpg");
  align-items: center;
  background-size: cover;
  min-height: 30vh;
}
.hero-banner__title {
  font-family: "Avenir Next Bold";
  color: white;
  font-size: 24px;
  padding: 10px;
}
@media screen and (min-width: 1280px) {
  .hero-banner__title {
    font-size: 60px;
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero-banner__title {
    font-size: 60px;
    padding: 20px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.about__img {
  height: 20vh;
  width: 75vw;
}
.about__img-caption {
  font-family: "Avenir Next Bold";
}
.about__content {
  display: flex;
  flex-direction: column;
}
.about__content--left {
  margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
  .about__content {
    flex-direction: row;
  }
  .about__content--left {
    margin-bottom: 0px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 0px;
  font-size: 20px;
  background-color: #FAFAFA;
}
.gallery__title {
  font-family: "Avenir Next Demi";
  font-size: 24px;
}
.gallery__image-container {
  display: flex;
  flex-direction: column;
}
.gallery__image-container--row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__image-container--row img {
  height: 25vh;
  width: 85vw;
  margin: 10px;
}
@media screen and (min-width: 1280px) {
  .gallery__image-container--row img {
    height: 200px;
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__image-container--row img {
    height: 200px;
    width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image-container--row {
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__image-container--row {
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.join-info {
  margin-right: 20px;
  font-family: "Avenir Next Regular";
  padding: 0 1rem 0 1rem;
}
.join-info__date {
  display: none;
}
.join-info__title {
  padding: 1.5rem 0 1.125rem 0rem;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 2rem;
}
.join-info__ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.join-info__img {
  height: 2.5rem;
  margin: 1rem 0 0 0;
  border-radius: 50%;
}
.join-info__div--left {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 0;
}
.join-info__div--right {
  display: flex;
  flex-direction: column;
}
.join-info__name {
  text-transform: uppercase;
  padding: 0 0 0.25rem 0;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 0.85rem;
  color: #AFAFAF;
}
.join-info__name-form {
  height: 2rem;
  width: 65vw;
  margin: 0 0 1.5rem 0;
  border: solid 1.5px #E1E1E1;
  border-radius: 4px;
  background-color: white;
  font-family: "Avenir Next Regular";
  padding: 0.5rem;
}
.join-info__text {
  text-transform: uppercase;
  padding: 0 0 0.25rem 0;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 0.85rem;
  color: #AFAFAF;
}
.join-info__text-form {
  height: 5rem;
  border: solid 1.5px #E1E1E1;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: "Avenir Next Regular";
  padding: 0.5rem;
}
.join-info__button {
  display: flex;
  justify-content: center;
  height: auto;
  width: 9.375rem;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #323232;
  font-family: "AvenirNextLTPro-Demi";
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}
@media screen and (min-width: 1280px) {
  .join-info {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media screen and (min-width: 768px) {
  .join-info {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.comment__card {
  display: flex;
  padding: 1rem 0;
}
.comment__card-img {
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
}
.comment__card-name {
  margin: 0;
  font-family: "AvenirNextLTPro-Demi";
  color: #323232;
}
.comment__card-date {
  margin: 0;
  font-size: 1rem;
  color: #AFAFAF;
}
.comment__div--left {
  display: flex;
  padding-right: 1rem;
}
.comment__div--right {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 55vw;
}
.comment__div--middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 1rem 0rem;
}
.comment__div--bottom p {
  margin: 0;
  line-height: 1.75rem;
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  justify-content: first baseline;
  border-radius: 5px;
  background-color: #323232;
  color: #FFFFFF;
  padding: 2%;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 30vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 30vw;
  }
}/*# sourceMappingURL=bio.css.map */