@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.header {
  background-color: $primary-black;
}
.logo {
  color: $secondary-alabaster;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  @include tablet {
    grid-template-areas: "logo menu menu menu";
    justify-items: auto;
  }
  @include desktop {
    grid-template-areas: "logo menu menu menu . . . ";
    justify-items: auto;
  }
  .nav {
    background-color: $primary-black;
    color: $secondary-alabaster;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @include tablet {
    width: auto;
  }
}




// &__menu {
//   color: $secondary-alabaster;
//   grid-area: menu;
//   width: 100%;
// ;
//   grid-template-columns: 1fr 1fr;
//   gap: 2rem;
//   justify-items: center;
//   align-items: center;
//   font-size: 2.4rem;
//   @include tablet {
//     width: auto;
//   }
//   &--li {
//     width: 100%;
//     &-item {
//       height: 7.5rem;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       &:hover,
//       &:active {
//         border-bottom: 5px solid $primary-silver;
//         color: $primary-silver;
//         font-weight: 600;
//       }
//     }
//   }
// }

.show-hero-banner {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/hero-shows.jpg");
  align-items: center;
  background-size: cover;
  min-height: 30vh;
  &__title {
    font-family: $bold-font;
    color: $primary-white;
    font-size: 35px;
    padding: 10px;
    @media screen and (min-width: $desktop-width) {
      font-size: 60px;
      padding: 20px;
      @media screen and (min-width: $tablet-width) {
        flex-direction: row;
        margin-left: 100px;
        margin-right: 100px;
        & img {
          height: 20vh;
          width: 75vw;
          margin: 5px;
          @media screen and (min-width: $desktop-width) {
            height: 200px;
            width: 300px;
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  justify-content: first baseline;
  border-radius: 5px;
  background-color: $primary-black;
  color: $primary-white;
  padding: 5%;
  font-weight: bold;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 30vw;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 30vw;
  }
}



.tickets {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  @media screen and (min-width: $desktop-width) {
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $tablet-width) {
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__title {
    font-weight: 100;
  }

  &__ul {
    align-items: center;
  }

  .tickets_show-date {
    font-family: $bold-font;
  }

  h3 {
    color: $primary-silver;
    font-size: small;
  }

  .tickets_buy-button {
    background-color: $secondary-darkblack;
    justify-content: center;
    width: 350px;
    height: 70px;
    border-radius: 15px;
    color: $primary-white;
    font-family: $bold-font;
    font-size: medium;

    @media screen and (min-width: $desktop-width) {
      flex-direction: column;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $tablet-width) {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .button {
    font-family: $bold-font;
  }

  &__img {
    height: 20vh;
    width: auto;
    &-caption {
      font-style: italic;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    &--left {
      margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop-width) {
      flex-direction: row;
      &--left {
        margin-bottom: 0px;
      }
    }
    @media screen and (min-width: $tablet-width) {
      flex-direction: row;
      &--left {
        margin-bottom: 0px;
      }
    }
  }
}
