@use "./partials/variables" as *;
@use "./partials/mixins" as *;


.BackgroundHeader {
  background-color: $primary-black;
}
.header {
  color: $secondary-alabaster;
  display: grid;
  grid-template-areas: "logo" "menu";
  justify-items: center;
  align-items: center;
  @include tablet {
    grid-template-areas: "logo menu menu menu";
    justify-items: flex-start;
    height: 8rem;
  }
  @include desktop {
    grid-template-areas: "logo menu menu menu . . . ";
    justify-items: flex-start;
    height: 8rem;
  }
  &__logo {
    grid-area: logo;
    font-size: 4rem;
    font-weight: 300;
    padding-top: 2rem;
    @include tablet {
      padding-top: 0;
    }
  }
  &__menu {
    color: $secondary-alabaster;
    grid-area: menu;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    font-size: 2.4rem;
    @include tablet {
      width: auto;
    }
    &--li {
      width: 100%;
      &-item {
        height: 7.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover,
        &:active {
          border-bottom: 5px solid $primary-silver;
          color: $primary-silver;
          font-weight: 600;
        }
      }
    }
  }
}





.show-hero-banner {
  display: flex;
  flex-direction: row;
  background-image: url("../assets/images/hero-shows.jpg");
  align-items:center;
  background-size: cover;
  min-height: 30vh;
  &__title {
    font-family: $bold-font;
    color: $primary-white;
    font-size: 24px;
    padding: 10px;
    @media screen and (min-width: $desktop-width) {
      font-size: 60px;
      padding: 20px;
      @media screen and (min-width: $tablet-width) {
        flex-direction: row;
        margin-left: 100px;
        margin-right: 100px;
        & img {
          height: 20vh;
          width: 75vw;
          margin: 5px;
          @media screen and (min-width: $desktop-width) {
            height: 200px;
            width: 300px;
          }
        }
      }
    }
  }
}



.tickets {
  display: flex;
  flex-direction: column;
  padding: 20px;
  h3 {
    color: $primary-silver
  }
  &__img {
    height: 20vh;
    width: auto;
    &-caption {
      font-style: italic;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    &--left {
      margin-bottom: 10px;
    }
    
    @media screen and (min-width: $desktop-width) {
      flex-direction: row;
      &--left {
        margin-bottom: 0px;
      }
    }
    @media screen and (min-width: $tablet-width) {
      flex-direction: row;
      &--left {
        margin-bottom: 0px;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
}
