.box {
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
}

.logo {
  color: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .logo {
    grid-template-areas: "logo menu menu menu";
    justify-items: auto;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    grid-template-areas: "logo menu menu menu . . . ";
    justify-items: auto;
  }
}
.logo .nav {
  background-color: #323232;
  color: #FAFAFA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .logo {
    width: auto;
  }
}

.show-hero-banner__title {
  align-self: self-start;
}

.show-hero-banner {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/hero-shows.jpg");
  align-items: center;
  background-size: cover;
  min-height: 30vh;
}
.show-hero-banner__title {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 35px;
  padding: 10px;
}
@media screen and (min-width: 1280px) {
  .show-hero-banner__title {
    font-size: 60px;
    padding: 20px;
  }
}
@media screen and (min-width: 1280px) and (min-width: 768px) {
  .show-hero-banner__title {
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
  }
  .show-hero-banner__title img {
    height: 20vh;
    width: 75vw;
    margin: 5px;
  }
}
@media screen and (min-width: 1280px) and (min-width: 768px) and (min-width: 1280px) {
  .show-hero-banner__title img {
    height: 200px;
    width: 300px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  justify-content: first baseline;
  border-radius: 5px;
  background-color: #323232;
  color: #FFFFFF;
  padding: 5%;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 30vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 30vw;
  }
}

.tickets {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
@media screen and (min-width: 1280px) {
  .tickets {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .tickets {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.tickets__title {
  font-weight: 100;
}
.tickets__ul {
  align-items: center;
}
.tickets .tickets_show-date {
  font-family: "Avenir Next Bold";
}
.tickets h3 {
  color: #AFAFAF;
  font-size: small;
}
.tickets .tickets_buy-button {
  background-color: #000000;
  justify-content: center;
  width: 350px;
  height: 70px;
  border-radius: 15px;
  color: #FFFFFF;
  font-family: "Avenir Next Bold";
  font-size: medium;
}
@media screen and (min-width: 1280px) {
  .tickets .tickets_buy-button {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .tickets .tickets_buy-button {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.tickets .button {
  font-family: "Avenir Next Bold";
}
.tickets__img {
  height: 20vh;
  width: auto;
}
.tickets__img-caption {
  font-style: italic;
}
.tickets__content {
  display: flex;
  flex-direction: column;
}
.tickets__content--left {
  margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
  .tickets__content {
    flex-direction: row;
  }
  .tickets__content--left {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .tickets__content {
    flex-direction: row;
  }
  .tickets__content--left {
    margin-bottom: 0px;
  }
}/*# sourceMappingURL=show.css.map */